@import "common.scss";

.footer__page {
   background-color: #0D141B;;
}
.footer__body {
   align-items: center;
   padding:38px 17px 38px 0;
   flex-wrap: wrap;
   gap: 35px;
   @media screen and (max-width: 740px) {
      justify-content: center !important;
      padding-right: 0;
   }
}
.footer__logo-img {
   width: 100%;
   height: 69px;
}
.footer__phone {
   display: flex;
   align-items: center;
   gap: 10px;
}
.footer__phone-link {
   color: #61666B;
   font-family: 'Lato', sans-serif;
   @include adaptiveFont(22, 16);
   font-style: normal;
   font-weight: 300;
   line-height: normal;
   span {
      font-weight: 600;
   }
}