@import "common.scss";
@import "mainScreen.scss";

.instructions__page {
   padding: 5.4% 0 9.5% 0;
   background-image: linear-gradient(rgba(18, 25, 32, 0.60), rgba(18, 25, 32, 0.98)), url('../img/instructions/backgroundInstructions.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.instructions__body {
   flex-direction: column;
}
.instructions__title {
   padding-bottom: 12%;
}
.instructions__title-h {
   color: #FFF;
   text-align: center;
   font-family: 'Lato', sans-serif;
   @include adaptiveFont(38, 20);
   font-style: normal;
   font-weight: 300;
   line-height: normal;
}
.instructions__cards {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}
.instructions__card {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   flex: 1;
}
.instructions__image {
   padding-bottom: 38px;
}
.instructions__content {
   display: flex;
   gap: 32px;
   padding-top: 38px;
   position: relative;
   &::before {
      content: '';
      position: absolute;
      width: 36px;
      height: 2px;
      background: #F8BE4D;
      top: 0;
   }
}
.instructions__content-text-p {
   color: #FFF;
   font-family: 'Lato', sans-serif;
   @include adaptiveFont(20, 14);
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.instruction__content {
   display: flex;
   justify-content: center;
   gap: 8.5%;
   padding-top: 7.5%;
   @media screen and (max-width: 1260px) {
      flex-direction: column;
      align-items: center;
   }
}
.instruction__decoration {
   display: flex;
   flex-direction: column;
   gap: 4.8%;
}
.instruction__decoration-image {
   @media screen and (max-width: 1020px) {
      text-align: center;
   }
}
.instruction__decoration-img {
   width: 56%;
   height: 100%;
}
.instruction__decoration-subtitle-p {
   color: #88939E;
   font-family: 'Lato', sans-serif;
   @include adaptiveFont(16, 10);
   font-style: normal;
   font-weight: 300;
   line-height: 24px; 
   position: relative;
   padding-left: 35px;
   span:first-child {
      color: #FFF;
      font-family: 'Lato', sans-serif;
      @include adaptiveFont(16, 10);
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
   }
   span {
      color: #FFF;
      font-family: 'Lato', sans-serif;
      @include adaptiveFont(16, 10);
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
   }
}
.instruction__form {
   display: flex;
   flex-direction: column;
   gap: 30px;
   width: 40%;
   @media screen and (max-width: 1150px) {
      width: 100%;
   }
}
.instruction__form-content {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.instruction__form-content-title-h {
   color: #FFF;
   font-family: 'Lato', sans-serif;
   @include adaptiveFont(38, 20);
   font-style: normal;
   font-weight: 400;
   line-height: 48px;
}
.instruction__form-content-subtitle {
   position: relative;
   &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 44px;
      background: #F8BE4D;
      top: 50%;
      transform: translateY(-50%);
   }
}
.instruction__form-content-subtitle-p {
   color: #88939E;
   font-family: 'Lato', sans-serif;
   @include adaptiveFont(18, 12);
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
   padding-left: 20px;
}
.instruction-form {
   width: 79%;
   padding: 36px 26px 46px 26px;
   @media screen and (max-width: 1150px) {
      width: 100%;
   }
}